export(getHaploGroupProb)
export(getValidHaploGroups)
export(listGenoToTable)
export(listHaploToTable)
export(listValidHaplotypes)
export(phaseReport)
export(printHaploGroups)
export(printHaploProbs)
export(reduceRedundantList)
export(remGeno)
export(simGenoFromHaplo)
export(tableGenoToList)
export(tableHaploToList)
export(testHaploInGeno)
